[submodule "Morphs/Importers/Submodules/glTF-SDK"]
	path = Morphs/Importers/Submodules/glTF-SDK
	url = https://github.com/microsoft/glTF-SDK.git
[submodule "Morphs/Importers/Submodules/openCOLLADA"]
	path = Morphs/Importers/Submodules/openCOLLADA
	url = https://github.com/pandaGaume/OpenCOLLADA.git
